/* Sidebar container */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1DA1F2; /* Twitter Blue */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; /* Enable vertical scrolling */
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px; /* Slightly narrower for smaller screens */
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 0%;
        height: 60px; /* Adjust height for horizontal layout */
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        transform: translateY(0); /* Make sure it's not off-screen */
        overflow-y: visible; /* Disable vertical scrolling for horizontal layout */
    }

    .button {
        margin: 0;
        flex: 1;
        text-align: center;
    }

    .createButton {
        margin: 0;
        flex: 1;
        text-align: center;
    }

    .AppLogo {
        display: none; /* Hide the logo on very small screens */
    }
}

/* Logo styling */
.AppLogo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Button container */
.button {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createButton{
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 25px;
}

.createButton:hover{
    width: 100%;
    border-radius: 25px;
    background-color:#f5f8fa;
}

.createButtonLabel{
    color: #1DA1F2;
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
}

/* Button label */
.buttonLabel {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

/* Remove text decoration from links */
a {
    text-decoration: none;
}

