/* sidebar.css */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #1da1f2;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.AppLogo {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

.button, .createButton {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonLabel, .createButtonLabel {
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.button:hover {
    background-color: #187bcd;
}

.createButton {
    background-color: #fff;
}

.createButtonLabel {
    color: #1da1f2;
}

.createButton:hover {
    background-color: #f5f8fa;
}

@media (max-width: 768px) {
    .sidebar {
        width: 70px;
        padding: 10px;
    }

    .AppLogo {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .button, .createButton {
        padding: 10px;
    }

    .buttonLabel, .createButtonLabel {
        display: none;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 50px;
        padding: 5px;
    }

    .AppLogo {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .button, .createButton {
        padding: 5px;
    }

    .buttonLabel, .createButtonLabel {
        display: none;
    }
}
